doctype html

mixin item(title, url)
  li(class="nav--item")
    a(href=url class=path == url ? 'nav--item--link active' : 'nav--item--link')=title

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script src="https://kit.fontawesome.com/19ed2bebb2.js"></script>
  body
    nav
      ul(class="nav--container")
        +item('Cinema', "/")
        +item('Movies', "/movies")
        +item('Serials on big screen', "/serials")
        +item('Login', "/user/login")
    block content
