@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.nav--container {
  background-color: black;
  width: 100%;
  min-height: 5rem;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

.nav--item
{
  font-size: 1.1rem;
  margin-right: 2rem;
}

.nav--item:last-child
{
  margin-right: 3rem;
}

.nav--item--link, .nav--item--link:visited, .nav--item--link:link {
  color: #999;
  text-decoration: none;
  transition: color .2s;
}

.nav--item--link:hover {
  color: #fff;
}

.active{
  color: #fff!important;
}

.pop {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
  padding: 1rem;
}

.pop__success {
  background-color: #2ecc71;
  color: #fff;
}

.pop__error {
  background-color: #e74c3c;
  color: #fff;
}